/* Google Fonts Importings */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$bckGrdColor: #DCDCDC; // backgroud-color used for whole site


/* Style used in Body */

@mixin bodyStyle {
    margin: 0;
    padding: 0;
    background-color: $bckGrdColor;
}


/* Style used in Title Text */

@mixin titleText() {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/* Style used in Body Text */

@mixin bodyText() {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
}


/* Style used in Buttons */

@mixin buttonStyle($backColor, $color, $width, $height, $fontSize) {
    width: $width;
    height: $height;
    border-radius: 5px;
    background-color: $backColor;
    color: $color;
    font-size: $fontSize;
    padding: 10px;
    margin: 10px;
    border-width: 0;
    font-weight: bold;
    box-shadow: 0px 0px 7px #888;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}