@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$lightColor: #FEFBE7;
$middleColor: #F9EBC8;
$darkColor: #DAE5D0;


@mixin bodyStyle {
    margin: 0;
    padding: 0;
}

@mixin titleText {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

@mixin bodyText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
}

@mixin buttonStyle($backColor, $color) {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: $backColor;
    color: $color;
    font-size: 15px;
    padding: 10px;
    border-width: 0;
    font-weight: bold;
    box-shadow: 2px 2px 7px #CCC;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}